[user]
	email = onelesd@users.noreply.github.com
	name = Dave Seleno
[core]
	excludesfile = /home/dseleno/.gitignore
[github]
	user = onelesd
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	conflictStyle = diff3
