[user]
  name = "Dave Seleno"
	email = 958603+onelesd@users.noreply.github.com
[color]
  ui = auto
[help]
	autoCorrect = prompt
[pull]
	ff = only
[core]
	excludesfile = /Users/dseleno/.gitignore_global
	editor = nvim
  pager = delta
[http]
	version = HTTP/2
	postBuffer = 1048576000
[interactive]
    diffFilter = delta --color-only --syntax-theme=NeonDark
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
        l = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --
[init]
	defaultBranch = main
