rofi.color-window: argb:c82d303b, #7c8389, #1d1f21
rofi.color-normal: argb:31d1f21, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
rofi.color-urgent: argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9
rofi.color-active: argb:2c1d1f21, #65acff, argb:e44b5160, #4491ed, #f9f9f9
rofi.width: 33
rofi.lines: 10
rofi.columns: 1
rofi.font: Hack Nerd Font 14
rofi.bw: 0
rofi.padding: 400
rofi.eh: 1
!rofi.separator-style: solid
rofi.hide-scrollbar: true
! ! special
! *.foreground:   #bea492
! *.background:   #181512
! *.cursorColor:  #bea492

! ! black
! *.color0:       #332d29
! *.color8:       #817267

! ! red
! *.color1:       #8c644c
! *.color9:       #9f7155

! ! green
! *.color2:       #746c48
! *.color10:      #857b52

! ! yellow
! *.color3:       #908a66
! *.color11:      #9c956e

! ! blue
! *.color4:       #646a6d
! *.color12:      #71777a

! ! magenta
! *.color5:       #605655
! *.color13:      #656565

! ! cyan
! *.color6:       #4b5c5e
! *.color14:      #556d70

! ! white
! *.color7:       #504339
! *.color15:      #9a875f

Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! rofi.color-window: argb: EE000000, argb: EE000000, argb: EE000000
! rofi.color-normal: argb: 00000000, #DEDEDE, argb: 00000000, #DEDEDE

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6